body {
  background-color: rgb(23,23,23);
}

h1 {
  color: white;
  font-family: 'Hind Siliguri';
  font-weight: lighter;
}

.searchInput {
  color: black;
  background-color: whitesmoke;
  margin-left: 20px;
}

.searchButton {
  color: black;
  background-color: whitesmoke;
  margin-left: 10px;
  margin-bottom: 20px;
}

h2 {
  color: white;
  font-family: 'Hind Siliguri';
  font-weight: lighter;
  margin-left: 20px;
  margin-right: auto;
  text-align: center;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inline {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.alphaButtons {
  color: black;
}

.tableHeader {
  padding: 20px;
  margin: 20px;
  color: whitesmoke;
  outline: 1px solid white;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
}

.tableTitle {
  padding: 20px;
  margin: 20px;
  color: whitesmoke;
  background-color: rgb(23,23,23);
  outline: 1px solid white;
  font-weight: bold;
}

.tableCell {
  color: white;
  padding: 20px;
  margin: 20px;
  outline: 1px solid white;
  text-transform: capitalize;
}

.remove {
  color: red;
  cursor: pointer;
}



/* .card {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
} */
